/** @format */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Poppins:wght@300;400;800&display=swap');

:root {
   --Cadet: #282d42;
   --French-gray1: #ced4da;
   --Fireenginered: #d90429;
   --Pantone: #ef233c;
   --milk-white: #efefef;
   --tint1: #e2f4f8;
   --white: #fff;
}

*,
html {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   /* font-family: 'Lato', sans-serif; */
   font-family: 'Poppins', sans-serif;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

body {
   width: 100%;
   font-size: 16px;
   line-height: 1.5;
}

h1,
h2,
h3,
h4,
p {
   margin: 10px auto;
}

section {
   padding: 100px 0;
}

.btn {
   display: inline-block;
   text-decoration: none;
   background: var(--Cadet);
   color: #efefef;
   padding: 20px 50px;
   border-radius: 5px;
}

.container {
   max-width: 1300px;
   margin: auto;
   padding: 20px;
}

/* Header */

.header {
   width: 100%;
   background: url('../images/globe-bg-1\ \(1\)-min.jpg') no-repeat center
      center;
   background-size: cover;
   position: relative;
}

.header::before {
   content: '';
   position: absolute;
   left: 0;
   background-image: linear-gradient(
      -45deg,
      rgba(0, 0, 0),
      rgba(255, 255, 255, 0.5)
   );
   width: 100%;
   height: 100%;
}

/* Navbar */

.brand-logo a {
   position: relative;
   z-index: 99;
   text-decoration: none;
   color: var(--Cadet);
}

.navbar {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px 0;
   position: fixed;
   top: 0;
   z-index: 99;
}

.navbar .container {
   width: inherit;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-sections {
   display: flex;
   align-items: center;
}

.nav-list {
   list-style-type: none;
   display: flex;
   align-items: center;
   justify-content: center;
}

.nav-items .nav-links {
   padding: 0 30px;
   text-decoration: none;
   color: var(--tint1);
}

.contact-btn {
   text-decoration: none;
   background: var(--Fireenginered);
   color: #efefef;
   padding: 20px 50px;
   border-radius: 5px;
}

/* ShowCase Section */

.showcase {
   width: 100%;
   padding: 15rem 0;
}

.showcase .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.case-content {
   max-width: 800px;
}

.case-title {
   font-size: 3rem;
   text-transform: uppercase;
   color: var(--tint1);
}

.case-sub-tit {
   font-size: 2.5rem;
   text-transform: uppercase;
   color: var(--Cadet);
}

.case-txt {
   font-size: 1rem;
   color: var(--tint1);
}

.case-btn {
   display: flex;
   gap: 20px;
   --webkit-gap: 20px;
}

.case-link-1 {
   background: var(--Cadet);
   display: inline-block;
   margin: 10px 0;
   padding: 20px 100px;
}

.case-link-2 {
   background: var(--Fireenginered);
   display: inline-block;
   margin: 10px 0;
   padding: 20px 100px;
}

.case-link-1:hover {
   background: rgba(40, 45, 66, 0.8);
   transition: 0.2s ease;
}

.case-link-2:hover {
   background: var(--Pantone);
   transition: 0.2s ease;
}

.case-link-1:hover .case-icon,
.case-link-2:hover .case-icon {
   transition: 0.5s ease;
   padding-left: 10px;
}

.case-icon {
   transition: 0.5s ease;
   padding-left: 5px;
}

.case-image {
   width: 650px;
   object-fit: cover;
}

/* About */
.about {
   width: 100%;
   padding: 45px 0;
}

.about .container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.about-title {
   font-size: 2.5rem;
   font-weight: 500;
   color: var(--Cadet);
}

.about-txt {
   font-size: 1rem;
   font-weight: 500;
}

.about-img {
   width: 600px;
   min-height: 100%;
}

.about-img img {
   width: 600px;
   object-fit: cover;
}

/* Features Section */
.features {
   width: 100%;
   padding: 45px 0;
   background: var(--French-gray1);
}

.feature-head {
   font-size: 2.5rem;
   font-weight: 500;
   color: var(--Cadet);
}

.features-content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
   justify-content: center;
   text-align: center;
}

.feature-card {
   background: #efefef;
   padding: 80px 50px;
   border-radius: 5px;
}

.feature-title {
   font-size: 2rem;
}

.feature-btn {
   padding: 15px 60px;
}

.feature-icon {
   color: var(--Fireenginered);
}

/* Link Section */
.global-links {
   width: 100%;
}

.global-head {
   font-size: 2.5rem;
   font-weight: 500;
   color: var(--Cadet);
}

.global-content {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   gap: 30px;
}

.link-items {
   box-shadow: 0px 3px 10px #5c6378;
   overflow: hidden;
   border-radius: 10px;
   position: relative;
}

.link-overlay {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   background: rgba(40, 45, 66, 0.8);
   transition: 0.3s ease;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
   text-align: center;
   padding: 20px;
}

.link-overlay:hover {
   width: 100%;
   opacity: 1;
   transform: scale(1.1);
}

.link-tit {
   font-size: 18px;
   color: var(--tint1);
}
.link-txt {
   max-width: 300px;
   font-size: 14px;
   color: var(--tint1);
}

.link-btn {
   padding: 15px 50px;
   background: var(--Fireenginered);
}

/* Contact Section */
.contact {
   width: 100%;
   background: url('../images/globe-bg-1\ \(1\)-min.jpg') no-repeat center
      center;
   background-size: cover;
   position: relative;
}

.contact-overlay {
   position: absolute;
   top: 0;
   left: 0;
   background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1),
      rgba(255, 255, 255, 0.5)
   );
   width: 100%;
   height: 100%;
}

.contact .container {
   position: relative;
   z-index: 1;
}

.contact-title {
   font-size: 40px;
   font-weight: 500;
   color: var(--tint1);
}

.contact-txt {
   font-size: 17px;
   font-weight: 500;
   color: var(--tint1);
   max-width: 400px;
   margin: 10px 0;
}

.contact-form,
.row-50,
.row-100 {
   width: 100%;
}

.row-50 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}

.form-control {
   width: inherit;
   color: #fff;
   margin: 10px 0;
}

.form-control ::placeholder,
.row-100 ::placeholder {
   color: var(--Pantone);
}

.form-control input[type='text'],
input[type='email'] {
   background: var(--tint1);
   color: var(--Cadet);
   width: 100%;
   padding: 15px;
   border: 0;
   border-radius: 5px;
   outline: 0;
}

.row-100 textarea {
   background: var(--tint1);
   width: 100%;
   height: 200px;
   padding: 15px;
   outline: 0;
   border: 0;
   color: var(--Cadet);
}

/* footer Section*/
.footer {
   background: var(--French-gray1);
   width: 100%;
   padding: 30px 0;
}

.footer .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.footer-content span {
   color: var(--Fireenginered);
}

.footer .social {
   list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.social-items {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 15px;
   border: 2px solid var(--Fireenginered);
   border-radius: 50%;
   transition: 0.2s ease;
}

.social-items:hover {
   transform: scale(1.2);
}

.social-items:nth-child(2) {
   margin: 0 30px;
}

.social-items .social-links {
   font-size: 17px;
   color: var(--Cadet);
}

/* Mobile Screen Using media-query*/

/* IPad-Mini */
@media (max-width: 912px) {
   .nav-sections {
      position: fixed;
      width: 100%;
      height: 50vh;
      top: -1000px;
      left: 0;
      opacity: 0;
      z-index: -1;
   }

   .nav-sections.show {
      position: fixed;
      width: 100%;
      top: 0;
      height: 100vh;
      opacity: 1;
      background: rgba(40, 45, 66, 0.9);
      z-index: 2;
   }

   .menu {
      width: 50px;
      cursor: pointer;
      border-radius: 2px;
      background: var(--Fireenginered);
      padding: 10px;
      position: relative;
      z-index: 999;
   }

   .menu .bar {
      display: block;
      width: 100%;
      height: 3px;
      margin: 5px auto;
      background: var(--tint1);
      border-radius: 2px;
   }

   .nav-sections,
   .nav-list {
      flex-flow: column;
      align-items: center;
      justify-content: center;
   }

   .nav-items .nav-links {
      display: inline-block;
      padding: 20px 0px;
   }

   .about .container {
      grid-template-columns: repeat(1, 1fr);
   }

   .global-content {
      grid-template-columns: repeat(2, 1fr);
   }
}

/* Ipad-Air */
@media (max-width: 768px) {
   .showcase .container {
      justify-content: center;
      text-align: center;
   }

   .case-title {
      font-size: 2.5rem;
   }

   .case-sub-tit {
      font-size: 2rem;
   }

   .case-btn {
      display: flex;
      justify-content: center;
      gap: 20px;
      --webkit-gap: 20px;
   }

   .case-link-1 {
      margin: 10px 0;
      padding: 20px 30px;
      font: 10px;
   }

   .case-link-2 {
      margin: 10px 0;
      padding: 20px 25px;
      font-size: 10px;
   }

   .case-link-1:hover .case-icon,
   .case-link-2:hover .case-icon {
      transition: 0.5s ease;
      padding-left: 0px;
   }

   .case-icon {
      transition: 0.5s ease;
      padding-left: 2px;
   }

   .feature-card {
      padding: 20px 10px;
   }

   .contact-title,
   .contact-txt {
      text-align: center;
   }

   .about .container,
   .features-content,
   .global-content,
   .row-50 {
      grid-template-columns: repeat(1, 1fr);
   }

   .footer .container {
      flex-flow: column;
      align-items: center;
   }

   .footer-content,
   .social-items,
   .footer .brand-logo {
      margin: 20px 0;
      text-align: center;
   }
}

@media (max-width: 375px) {
   .case-link-1 {
      margin: 10px 0;
      padding: 20px 40px;
   }

   .case-link-2 {
      margin: 10px 0;
      padding: 20px 20px;
   }
}

/* Anime */
.spinning-icon {
   animation: spin 2s infinite linear;
}
@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

/* Heartbeat */
.heartbeat {
   animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
   from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
   }
   10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
   }
   17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
   }
   33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
   }
   45% {
      transform: scale(1);
      animation-timing-function: ease-out;
   }
}
