/** @format */

:root {
   --tint1: #e2f4f8;
   --tint2: #ade8f4;
   --tone1: #00b4d8;
   --tone2: #0096c7;
   --Cadet: #282d42;
   --Pantone: #ef233c;
   --Fireenginered: #d90429;
   --Payne: #5c6378;
}

*,
html {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

body {
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   line-height: 1.5;
}

h1,
h2,
h3,
h4,
p {
   margin: 10px auto;
}

section{
   height:680px;
   padding:50px 0;
}

.btn {
   text-decoration: none;
   color: #efefef;
   padding: 20px 50px;
   border-radius: 5px;
}

.container {
   max-width: 1300px;
   margin: auto;
   padding: 20px;
}

/* Header */

.header {
   width: 100%;
   height: 680px;
   background:url('../images/globe-bg-1\ \(1\).jpg') no-repeat center center;
   background-size:cover;
   position: relative;
}


.header::before{
   content: '';
   position:absolute;
   left: 0;
   background-image: linear-gradient(-45deg,rgba(0,0,0), rgba(255,255,255,0.5));
   width: 100%;
   height: 100%;
}

/* Navbar */

.brand-logo a {
   text-decoration: none;
   color: var(--Cadet);
}

.navbar {
   background:transparent;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px 0;
}

.navbar .container {
   width: inherit;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: 2;
}

.nav-sections {
   display: flex;
   align-items: center;
}

.nav-list {
   list-style-type: none;
   display: flex;
   align-items: center;
   justify-content: center;
}

.nav-items .nav-links {
   padding: 0 30px;
   text-decoration: none;
   color: var(--tint1);
}

.contact-btn {
   text-decoration: none;
   background: var(--Fireenginered);
   color: #efefef;
   padding: 20px 50px;
   border-radius: 5px;
}

/* ShowCase */

.showcase {
   width: 100%;
   position: relative;
   z-index: 2;
}

.showcase .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.case-content{
   max-width: 900px;
}

.case-title {
   font-size: 3rem;
   text-transform: uppercase;
   color: var(--tint1);
}

.case-sub-tit {
   font-size: 2.5rem;
   text-transform: uppercase;
   color: var(--Cadet);
}

.case-txt{
   font-size: 1rem;
   color: var(--tint1);
}

.case-btn{
   display: flex;
   gap: 20px;
   --webkit-gap:20px;
}

.case-link-1 {
   background: var(--Cadet);
   display: inline-block;
   margin: 10px 0;
   padding: 20px 100px;
}

.case-link-2{
   background: var(--Fireenginered);
   display: inline-block;
   margin: 10px 0;
   padding: 20px 100px;
}

.case-image {
   width: 650px;
   object-fit: cover;
}

/* About */
.about{
   width:100%;
   padding: 45px 0;
}

.about .container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.about-title{
   font-size:2.5rem;
   font-weight: 500;
   color: var(--Cadet);
}

.about-txt{
   font-size:1rem;
   font-weight: 500;
}

.about-img{
   width: 600px;
   min-height: 100%;
}

.about-img img{
   width: 600px;
   object-fit: cover;
}

/* Features */
.features{
   width:100%;
   padding: 45px 0;
   background: var(--Payne);
}

.feature-head{
   font-size:2.5rem;
   font-weight: 500;
   color: var(--tint1);
}

.features-content{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
   justify-content: center;
   align-items: center;
}

.feature-card{
   background: var(--tint1);
   padding:80px 50px;
   border-radius: 5px;
}

.feature-title{
   font-size: 1.5rem;
}

/* Link */
.global-links{
   width: 100%;
}

.global-head{
   font-size: 2.5rem;
   font-weight:500;
   color: var(--Cadet);
}

.global-content{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   gap: 40px;
}
