/** @format */

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Poppins:wght@300;400;800&display=swap');

:root {
   --tint1: #e2f4f8;
   --tint2: #ade8f4;
   --tone1: #00b4d8;
   --tone2: #0096c7;
   --Cadet: #282d42;
   --Pantone: #ef233c;
   --Fireenginered: #d90429;
   --Payne: #5c6378;
}

*,
html {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   font-family: 'Lato', sans-serif;
   font-family: 'Poppins', sans-serif;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

body {
   width: 100%;
   font-size: 16px;
   line-height: 1.5;
}

h1,
h2,
h3,
h4,
p {
   margin: 10px auto;
}

section {
   padding: 50px 0;
}

.btn {
   text-decoration: none;
   color: #efefef;
   padding: 20px 50px;
   border-radius: 5px;
}

.container {
   max-width: 1300px;
   margin: auto;
   padding: 20px;
}

/* Header */

.header {
   width: 100%;
   background: url('../images/globe-bg-1\ \(1\).jpg') no-repeat center center;
   background-size: cover;
   position: relative;
}

.header::before {
   content: '';
   position: absolute;
   left: 0;
   background-image: linear-gradient(
      -45deg,
      rgba(0, 0, 0),
      rgba(255, 255, 255, 0.5)
   );
   width: 100%;
   height: 100%;
}

/* Navbar */

.brand-logo a {
   text-decoration: none;
   color: var(--Cadet);
}

.navbar {
   background: transparent;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px 0;
}

.navbar .container {
   width: inherit;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: 2;
}

.nav-sections {
   display: flex;
   align-items: center;
}

.nav-list {
   list-style-type: none;
   display: flex;
   align-items: center;
   justify-content: center;
}

.nav-items .nav-links {
   padding: 0 30px;
   text-decoration: none;
   color: var(--tint1);
}

.contact-btn {
   text-decoration: none;
   background: var(--Fireenginered);
   color: #efefef;
   padding: 20px 50px;
   border-radius: 5px;
}

/* ShowCase */

.showcase {
   width: 100%;
   position: relative;
   z-index: 2;
   padding: 50px 0 100px 0;
}

.showcase .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.case-content {
   max-width: 900px;
}

.case-title {
   font-size: 3rem;
   text-transform: uppercase;
   color: var(--tint1);
}

.case-sub-tit {
   font-size: 2.5rem;
   text-transform: uppercase;
   color: var(--Cadet);
}

.case-txt {
   font-size: 1rem;
   color: var(--tint1);
}

.case-btn {
   display: flex;
   gap: 20px;
   --webkit-gap: 20px;
}

.case-link-1 {
   background: var(--Cadet);
   display: inline-block;
   margin: 10px 0;
   padding: 20px 100px;
}

.case-link-2 {
   background: var(--Fireenginered);
   display: inline-block;
   margin: 10px 0;
   padding: 20px 100px;
}

.case-image {
   width: 650px;
   object-fit: cover;
}

/* About */
.about {
   width: 100%;
   padding: 45px 0;
}

.about .container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.about-title {
   font-size: 2.5rem;
   font-weight: 500;
   color: var(--Cadet);
}

.about-txt {
   font-size: 1rem;
   font-weight: 500;
}

.about-img {
   width: 600px;
   min-height: 100%;
}

.about-img img {
   width: 600px;
   object-fit: cover;
}

/* Features */
.features {
   width: 100%;
   padding: 45px 0;
   background: var(--Payne);
}

.feature-head {
   font-size: 2.5rem;
   font-weight: 500;
   color: var(--tint1);
}

.features-content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
   justify-content: center;
}

.feature-card {
   background: var(--tint1);
   padding: 80px 50px;
   border-radius: 5px;
}

.feature-title {
   font-size: 1.5rem;
}

/* Link */
.global-links {
   width: 100%;
}

.global-head {
   font-size: 2.5rem;
   font-weight: 500;
   color: var(--Cadet);
}

.global-content {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 40px;
}

.link-items {
   box-shadow: 0px 3px 10px #5c6378;
}

@media (max-width: 768px) {
   .navbar .container {
      flex-flow: column;
   }

   .nav-sections, .nav-list {
      flex-flow: column;
   }

   .nav-items .nav-links {
      display:inline-block;
      padding: 20px 0px;
   }

   .showcase .container {
      justify-content: center;
      text-align: center;
   }

   .case-title {
      font-size: 2.5rem;
   }

   .case-sub-tit {
      font-size: 2rem;
   }

   .case-btn {
      display: flex;
      justify-content: center;
      gap: 20px;
      --webkit-gap: 20px;
   }

   .case-link-1 {
      margin: 10px 0;
      padding: 20px 30px;
   }

   .case-link-2 {
      margin: 10px 0;
      padding: 20px 30px;
   }

   .about .container,
   .features-content,
   .global-content {
      grid-template-columns: repeat(1, 1fr);
   }
}
